* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9f0;
    text-decoration: none;
  }
  
  h1 {
    text-align: center;
    color: #2c3e50;
  }
  
  p {
    margin: 20px;
    padding: 10px;
  }
  
  a {
    color: #2980b9;
    text-decoration: none;
  }
  
  a:hover {
    color: #e74c3c;
  }
  .container {
    max-width: 100%;
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    object-fit: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
   .container form {
    display: flex;
    flex-direction: column;
    width: 100%;
   margin: auto;
   }
  .container form button {
    width: 100%;
    padding: 10px;
  }
   .container form input {
    width: 90%;
   }
  img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-width: 100%;
    display: block;
    height: 400px;
  }
  footer {
    background-color: black;
    color: #2c3e50;
    text-align: center;
  }
  .highlight {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
  }
  input, #num1 , #num2 {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid blue;
    border-radius: 8px;
  }
  #num1:focus, #num2:focus {
    background-color: black;
    color: white;
    border: 2px solid yellow;
  }
  #operation, #conversion-type {
    width: 20%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 8px;
  }
  button {
    max-width: 30%;
    padding: 10px;
    background-color: blueviolet;
    border: none;
    border-radius: 8px;
    color: white;
    transition: 0.3s ease;
    margin: 10px auto;
  }
  button:hover {
    background-color: #2c3e50;
    cursor: pointer;
  }
  @media (max-width: 600px) {
    h1 {
      font-size: 24px;
      text-align: left;
    }
  
    p {
      font-size: 16px;
    }
  
    .container {
      padding: 10px;
    }
  
    img {
      width: 100%;
      height: auto;
    }
  }
  

  
  